# Server configuration
PORT=3000
NODE_ENV=development

# Database
MONGODB_URI=mongodb://localhost:27017/cpen321

# Google Auth 
GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com

# JWT 
JWT_SECRET=your_jwt_secret_key_here

# Other API keys, secrets, and configurations

# M1
MY_FIRST_NAME=Sacha
MY_LAST_NAME=YourLastName
SERVER_PUBLIC_IP=34.x.x.x
PIXEL_UPSTREAM_URL=wss://8.229.22.124
